{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Kya Kehna !!</title>
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    </head>
    <body>
        <header>
            <h1><a href="/">Kya Kehna !!</a></h1>
        </header>

    {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>

        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}

        
    </body>
</html>